<div class="oj-hybrid-padding">
  <div id="form1">
    <div class="oj-flex oj-sm-flex-items-1">
      <div class="oj-flex-item oj-sm-padding-3x-horizontal">
              <oj-label for="combobox">Select/Type Your Interests</oj-label>
              <oj-combobox-many id="combobox" value="{{val}}"
                style="max-width:40em" on-value-changed="[[handleInterestChanged]]">
                <oj-option value="software">Software</oj-option>
                <oj-option value="hardware">Hardware</oj-option>
                <oj-option value="ml">Machine Learning</oj-option>
                <oj-option value="da">Data Analysis</oj-option>
                <oj-option value="gaming">Gaming</oj-option>
              </oj-combobox-many>
              <br>
              <div>
              <oj-label id="indicatorThreshold">
                Your interest for reading books!
              </oj-label>
              <oj-status-meter-gauge 
                class="horizontal-status-meter-sample"
                labelled-by="indicatorThreshold"
                min="0" max="100" value="{{value}}"
                thresholds="[[thresholdValues]]"
                plot-area.rendered="on"
                on-value-changed="[[handlePercentChanged]]"
                >
              </oj-status-meter-gauge>
                </div>


              <br>
              <oj-button on-oj-action="[[savePref]]">Set these Choices</oj-button>
          </div>
            <div class="oj-flex-item oj-sm-padding-3x-horizontal">
              <strong><u>Check out our Book Libraries</u></strong>
              <br>
              -><oj-button chroming="half" on-oj-action="[[goTech]]">Technical Books</oj-button>
              <br>
              -><oj-button chroming="half" on-oj-action="[[goOthers]]">Other Books</oj-button>
          </div>
        </div>
    </div>
</div>